{# templates/index-card-admin.html.twig #}

{# Contenu card page index ADMIN #}

{% if is_granted('ROLE_USER') %} {#TODO : Changer en ROLE Admin#}

    <hr>

    <h4 class="text-center"><b>Administration</b></h4>

    <div class="text-center">
        <a href="{{ path('admin') }}" class="btn btn-primary">Créer commission</a>
        <a href="{{ path('admin') }}" class="btn btn-danger">Modifier commission</a>
        <hr class="opacity-0">
        <a href="{{ path('admin') }}" class="btn btn-secondary">Page administration</a>
    </div>
{% endif %}

{% if is_granted('ROLE_USER') %} {#TODO : Changer en ROLE Utilisateur privilégié#}

    <hr>

    <h4 class="text-center"><b>Utilisateur privilégié</b></h4>

    <div class="text-center">
        <a href="{{ path('admin') }}" class="btn btn-primary">Créer commission</a>
        <a href="{{ path('admin') }}" class="btn btn-danger">Modifier commission</a>
    </div>
{% endif %}