{# templates/index-card.html.twig #}

{# Contenu card page index #}

{# Commission #}

<div class="card">

    <div class="card-header">
        <b>Commissions</b>
    </div>

    <div class="overflow-y-auto" style="height: calc(5 * 2.55rem);">       {# 1 ligne = 2.55rem #}
        <ul class="list-group list-group-flush">

            {# Affichage message si aucune commission trouvée #}
            {% if commissions|length == 0 %}
                <li class="list-group-item"><b>Aucune commission trouvée</b></li>
            {% else %}

                {# Affichage des commission trouvée #}
                {% for commission in commissions %}
                    {% if commission.libelle in app.request.pathInfo or ("/commission" not in app.request.pathInfo and commission.libelle == "General") %}
                        {# Si la commission est la page actuelle #}
                        <li class="list-group-item active d-flex">
                            <a>{{ commission.libelle }} {{ commission.icone }}</a>
                            <div class="d-inline ms-auto">
                                {% if commission not in commissionNotifActive %}
                                    <a>🔕</a>
                                {% endif %}
                                <a class="navbar-toggler text-decoration-none" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>...</b></a>
                                <ul class="dropdown-menu">
                                    {% if commission in commissionNotifActive %}
                                        <li><a class="dropdown-item {% if commission.libelle == "General" %}disabled{% endif %}" href="{{ path('gestionNotificationCommission', {userID: app.user.id, commissionID: commission.id, active: false}) }}">Désactiver les notifications</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{{ path('gestionNotificationCommission', {userID: app.user.id, commissionID: commission.id, active: true}) }}">Activer les notifications</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        {# Si la commission n'est PAS la page actuelle #}
                        <li class="list-group-item d-flex">
                            <a href="/commission/{{ commission.libelle }}">{{ commission.libelle }}</a> {{ commission.icone }}
                            <div class="d-inline ms-auto">
                                {% if commission in commissionNotifActive %}
                                    <!-- Affichage du nombre de message non lu -->
                                    {% if commission.id in messageNonLuCommission|keys %}
                                        <span class="badge text-bg-secondary ms-auto">{{ messageNonLuCommission[commission.id] }}</span>
                                    {% endif %}
                                {% else %}
                                    <!-- Les notifications sont désactivées-->
                                    <a>🔕</a>
                                {% endif %}
                                <a class="navbar-toggler text-decoration-none" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>...</b></a>
                                <ul class="dropdown-menu">
                                    {% if commission in commissionNotifActive %}
                                        <li><a class="dropdown-item {% if commission.libelle == "General" %}disabled{% endif %}" href="{{ path('gestionNotificationCommission', {userID: app.user.id, commissionID: commission.id, active: false}) }}">Désactiver les notifications</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{{ path('gestionNotificationCommission', {userID: app.user.id, commissionID: commission.id, active: true}) }}">Activer les notifications</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>

</div>

<hr class="opacity-0">

{# Commission temporaire #}

<div class="card">

    <div class="card-header d-flex justify-content-between align-items-center">
        <b>Commissions Temporaires</b>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRIVILEGED') %}
            <a class="ms-auto text-black text-decoration-none" href="{{ path('creationCommissionTemporaire') }}" role="button" aria-expanded="false"><b>+</b></a>
        {% endif %}
    </div>

    <div class="overflow-y-auto" style="height: calc(5 * 2.55rem);">       {# 1 ligne = 2.55rem #}
        <ul class="list-group list-group-flush">

            {# Affichage message si aucune commission trouvée #}
            {% if commissionsTemporaireNonClos|length == 0 %}
                <li class="list-group-item"><b>Aucune commission disponible</b></li>
            {% else %}

                {# Affichage des commission trouvée #}
                {% for commissionTemporaire in commissionsTemporaireNonClos %}
                    {% if "/commission-temporaire/" ~ commissionTemporaire.id == app.request.pathInfo %}
                        <li class="list-group-item active d-flex">
                            <a>{{ commissionTemporaire.libelle }}</a>
                            <div class="d-inline ms-auto">
                                {% if commissionTemporaire not in commissionTemporaireNotifActive %}
                                    <a>🔕</a>
                                {% endif %}
                                <a class="navbar-toggler text-decoration-none" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>...</b></a>
                                <ul class="dropdown-menu">
                                    {% if commissionTemporaire in commissionTemporaireNotifActive %}
                                        {% if app.user == commissionTemporaire.createur %}
                                            <li><a class="dropdown-item disabled" href="{{ path('gestionNotificationCommissionTemporaire', {userID: app.user.id, commissionTemporaireID: commissionTemporaire.id, active: false}) }}">Désactiver les notifications</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{{ path('gestionNotificationCommissionTemporaire', {userID: app.user.id, commissionTemporaireID: commissionTemporaire.id, active: false}) }}">Désactiver les notifications</a></li>
                                        {% endif %}
                                    {% else %}
                                        <li><a class="dropdown-item" href="{{ path('gestionNotificationCommissionTemporaire', {userID: app.user.id, commissionTemporaireID: commissionTemporaire.id, active: true}) }}">Activer les notifications</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li class="list-group-item d-flex">
                            <a href="/commission-temporaire/{{ commissionTemporaire.id }}">{{ commissionTemporaire.libelle }}</a>
                            <div class="d-inline ms-auto">
                                {% if commissionTemporaire in commissionTemporaireNotifActive %}
                                    <!-- Affichage du nombre de message non lu -->
                                    {% if commissionTemporaire.id in messageNonLuCommissionTemporaire|keys %}
                                        <span class="badge text-bg-secondary">{{ messageNonLuCommissionTemporaire[commissionTemporaire.id] }}</span>
                                    {% endif %}
                                {% else %}
                                    <!-- Les notifications sont désactivées-->
                                    <a>🔕</a>
                                {% endif %}
                                <a class="navbar-toggler text-decoration-none" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>...</b></a>
                                <ul class="dropdown-menu">
                                    {% if commissionTemporaire in commissionTemporaireNotifActive %}
                                        {% if app.user == commissionTemporaire.createur %}
                                            <li><a class="dropdown-item disabled" href="{{ path('gestionNotificationCommissionTemporaire', {userID: app.user.id, commissionTemporaireID: commissionTemporaire.id, active: false}) }}">Désactiver les notifications</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{{ path('gestionNotificationCommissionTemporaire', {userID: app.user.id, commissionTemporaireID: commissionTemporaire.id, active: false}) }}">Désactiver les notifications</a></li>
                                        {% endif %}
                                    {% else %}
                                        <li><a class="dropdown-item" href="{{ path('gestionNotificationCommissionTemporaire', {userID: app.user.id, commissionTemporaireID: commissionTemporaire.id, active: true}) }}">Activer les notifications</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>

</div>

<hr class="opacity-0">

{# Commission temporaire à venir #}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRIVILEGED') %}

    <div class="card">

        <div class="card-header d-flex">
            <b>Commissions Temporaires à venir 🕒</b>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRIVILEGED') %}
                <a class="ms-auto text-black text-decoration-none" href="{{ path('creationCommissionTemporaire') }}" role="button" aria-expanded="false"><b>+</b></a>
            {% endif %}
        </div>

        <div class="overflow-y-auto" style="height: calc(5 * 2.55rem);">
            <ul class="list-group list-group-flush">
                {% set ExisteCommissionFutur = false %}

                {# Affichage des commissions trouvées #}
                {% for commission in commissionsTemporaireFutur %}
                    {% if is_granted('ROLE_ADMIN') or app.user == commission.createur %}
                        {% set ExisteCommissionFutur = true %}
                        <li class="list-group-item d-flex {% if "/commission-clos/" ~ commission.id == app.request.pathInfo %}active{% endif %}">
                            <a {% if "/commission-clos/" ~ commission.id != app.request.pathInfo %}href="/commission-clos/{{ commission.id }}"{% endif %}>{{ commission.libelle }}</a>
                            <div class="d-inline ms-auto">
                                {% if commission not in commissionTemporaireNotifActive %}
                                    <a>🔕</a>
                                {% elseif commission.id in messageNonLuCommissionTemporaire %}
                                    <span class="badge text-bg-secondary">{{ messageNonLuCommissionTemporaire[commission.id] }}</span>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}

                {# Message si aucune commission n'a été trouvée #}
                {% if not ExisteCommissionFutur %}
                    <b class="text-center">Aucune commission disponible</b>
                {% endif %}

            </ul>
        </div>

    </div>

{% endif %}

<hr class="opacity-0">

{# Commission temporaire clos #}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRIVILEGED') %}

    <div class="card">

        <div class="card-header d-flex">
            <b>Commissions Temporaires clos 🔐</b>
        </div>

        <div class="overflow-y-auto" style="height: calc(5 * 2.55rem);">
            <ul class="list-group list-group-flush">
                {% set ExisteCommissionClos = false %}
                {# Affichage des commissions trouvées #}
                {% for commission in commissionsTemporaireClos %}
                    {% if is_granted('ROLE_ADMIN') or app.user == commission.createur %}
                        {% set ExisteCommissionClos = true %}
                        <li class="list-group-item d-flex {% if "/commission-clos/" ~ commission.id == app.request.pathInfo %}active{% endif %}">
                            <a {% if "/commission-clos/" ~ commission.id != app.request.pathInfo %}href="/commission-clos/{{ commission.id }}"{% endif %}>{{ commission.libelle }}</a>
                            <div class="d-inline ms-auto">
                                {% if commission not in commissionTemporaireNotifActive %}
                                    <a>🔕</a>
                                {% elseif commission.id in messageNonLuCommissionTemporaire %}
                                    <span class="badge text-bg-secondary">{{ messageNonLuCommissionTemporaire[commission.id] }}</span>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
                {# Message si aucune commission n'a été trouvée #}
                {% if not ExisteCommissionClos %}
                    <b class="text-center">Aucune commission disponible</b>
                {% endif %}
            </ul>
        </div>

    </div>

{% endif %}