{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Administration</h1>

        <h2>Créer un utilisateur</h2>
        <a href="{{ path('admin_create_user') }}" class="btn btn-primary mb-4">Créer un utilisateur</a>

        <h2>Liste des utilisateurs</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <form method="post" action="{{ path('admin_delete_user', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
