{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="d-none d-lg-block col-lg-3">
            <h3 class="text-center">Groupes de discussions</h3>
        </div>
        <div class="col-lg-9 col-sm-12">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="d-lg-none">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvaContent" aria-controls="offcanvaContent" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div>
                        <a class="navbar-brand" href="#"><b>WhatsApp-Like</b></a>
                    </div>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvaContent" aria-labelledby="offcanvaContentLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvaContentLabel">WhatsApp-Like ​📞​</h5>
                            <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="card">
                                <div class="card-header">
                                    <b>Commissions</b>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item active" aria-current="true">EXEMPLE ACTIF</li>
                                    <li class="list-group-item">Animation 🍻​</li>
                                    <li class="list-group-item">Communication 🖥️​</li>
                                    <li class="list-group-item">Finances 💰​</li>
                                    <li class="list-group-item">Restauration 🍔​</li>
                                </ul>
                            </div>
                            <hr>
                            <div class="card">
                                <div class="card-header">
                                    <b>Commissions Temporaires</b>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">An item</li>
                                    <li class="list-group-item">A second item</li>
                                    <li class="list-group-item">A third item</li>
                                </ul>
                            </div>
                            {% if is_granted('ROLE_USER') %} {# TODO A changer en ROLE_ADMIN plus tard #}
                                <hr>
                                <div class="card">
                                    <div class="card-header">
                                        <b>Commissions Temporaires 🔐​</b>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">An item</li>
                                        <li class="list-group-item">A second item</li>
                                        <li class="list-group-item">A third item</li>
                                    </ul>
                                </div>
                            {% endif %}
                            <hr>
                            {% if is_granted('ROLE_USER') %} {# TODO A changer en ROLE_ADMIN plus tard #}
                                <button type="button" class="btn btn-primary" onclick="window.location.href='/admin'">Administration</button>
                                <hr>
                            {% endif %}
                            <form action="{{ path('app_logout') }}" method="post">
                                <button type="submit" class="btn btn-danger">Se déconnecter</button>
                            </form>

                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row" style="height: 89vh; overflow: unset;">
        <div class="d-none d-lg-block col-lg-3">
            <div class="card">
                <div class="card-header">
                    <b>Commissions</b>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item active" aria-current="true">EXEMPLE ACTIF</li>
                    <li class="list-group-item">Animation 🍻​</li>
                    <li class="list-group-item">Communication 🖥️​</li>
                    <li class="list-group-item">Finances 💰​</li>
                    <li class="list-group-item">Restauration 🍔​</li>
                </ul>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">
                    <b>Commissions Temporaires</b>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
            {% if is_granted('ROLE_USER') %} {# TODO A changer en ROLE_ADMIN plus tard #}
                <hr>
                <div class="card">
                    <div class="card-header">
                        <b>Commissions Temporaires 🔐​</b>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            {% endif %}
            <hr>
            {% if is_granted('ROLE_USER') %} {# TODO A changer en ROLE_ADMIN plus tard #}
                <button type="button" class="btn btn-primary" onclick="window.location.href='/admin'">Administration</button>
                <hr>
            {% endif %}
            <form action="{{ path('app_logout') }}" method="post">
                <button type="submit" class="btn btn-danger">Se déconnecter</button>
            </form>
        </div>
        <div class="col-12 col-lg-8 bg-light border-2 rounded-2" style="height: 100%">
            <div class="overflow-y-scroll" style="max-height: 85%">
                <br>
                {% for message in messages %}
                {#                        {% if message.commissions ==  %}#}
                {% if app.user.id ==  message.user.id %}
                <div class="row justify-content-end" style="width: 99%">
                    <div class="col-6 text-break justify-content-end border border-secondary-subtle border-2 rounded-5 bg-body-secondary">
                        <div>
                            {% if is_granted('ROLE_USER') %}
                                <span class="badge rounded-pill text-bg-primary">Utilisateur</span>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <span class="badge rounded-pill text-bg-danger">Admin</span>
                            {% endif %}
                            <b>{{ message.user.nom }} {{ message.user.prenom }}:</b>
                        </div>
                        <div>
                            {{ message.contenu }}
                        </div>
                        <div class="text-end">
                            <i>{{ message.dateEnvoi|date('d/m/Y H:i:s') }}</i>
                        </div>
                    </div>
                    <hr class="opacity-0">
                </div>
            {% else %}
                <div class="row" style="width: 99%">
                    <div class="col-6 text-break border border-secondary-subtle border-2 rounded-5 bg-body-secondary">
                        <div>
                            {% if is_granted('ROLE_USER') %}
                                <span class="badge rounded-pill text-bg-primary">Utilisateur</span>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <span class="badge rounded-pill text-bg-danger">Admin</span>
                            {% endif %}
                            <b>{{ message.user.nom }} {{ message.user.prenom }}:</b>
                        </div>
                        <div>
                            {{ message.contenu }}
                        </div>
                        <div class="text-end">
                            <i>{{ message.dateEnvoi|date('d/m/Y H:i:s') }}</i>
                        </div>
                    </div>
                    <hr class="opacity-0">
                    {% endif %}
                    {% endfor %}

                </div>
                <form method="post">
                    <div class="fixed-bottom input-group p-2">
                        <!-- TODO mettre le input hidden des commissions -->
                        <input type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="basic-addon2">
                        <div class="input-group-append align-content-center">
                            <input class="btn btn-success bg-gradient" value="Envoyer" type="submit">
                        </div>
                    </div>
                </form>
                {#                <div class="fixed-bottom">#}
                {#                    <form method="post">#}
                {#                        <!-- TODO mettre le input hidden des commissions -->#}
                {#                        <label>#}
                {#                            <input type="text" name="message" placeholder="Message">#}
                {#                        </label>#}
                {#                        <input value="Envoyer" type="submit" class="bi bi-send">#}
                {#                    </form>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}